.musicPlayer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    margin-top: 5rem;
    justify-content: space-around;
}

.musicImage {
    width: 30rem;
    height: 30rem;
}

.musicImage img {
    border-radius: 9rem;
    border: 5px solid #25be70;
    height: 100%;
    width: 100%;
}