.artistUl{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-left: 0;
}

.artistUl li {
    margin: 2rem;
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
}
.artistImg{
   width: 13rem;
   height: 13rem;
}

.artistImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.artistName {
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top: 1rem;

}